name: Hello World Workflow

on:
  push:
    branches:
      - '**'   # Matches all branches

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World"
