name: Hello World Workflow

on:
  push:
    branches:
      - local
      - team2
      - team3

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World"
